body {
    margin: 5px;
}

#Huvudsida {
    display: grid;
    height: 500px;
    width: auto;
    grid-auto-columns: 10px, 20px, 30px, 40px, 50px, 60px;
    grid-template-rows: auto;
    row-gap:2px ;
    column-gap:3px ;
    grid-template-areas: 
    'h h h h h h'
    'm m m m m m'
    'm m m m m m'
    's1 s1 s1 s2 s2 s2'
    's1 s1 s1 s2 s2 s2'
    'f f f f f f'
    ;
}

#Menysida {
    display: grid;
    height: 500px;
    width: auto;
    grid-template-columns: ;
    grid-template-rows: auto;
    row-gap: 2px;
    column-gap: 3px;
    grid-template-areas: 
    'h h h h h h h h'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'f f f f f f f f'
    ;
}

#Recensionsida {
    display: grid;
    height: 500px;
    width: auto;
    grid-template-columns: ;
    grid-template-rows: auto;
    row-gap: 2px;
    column-gap: 3px;
    grid-template-areas: 
    'h h h h'
    'ar1 ar1 ar2 ar2'
    'ar1 ar1 ar2 ar2'
    'ar3 ar3 ar4 ar4'
    'ar3 ar3 ar4 ar4'
    'f f f f'
    ;
}

header {
    display: flex;
    grid-area: h;
    background-color: orange;
    grid-template-areas: 
    'n n n'
    ;
}

nav {
    grid-area: n;
    justify-content: center;
    align-items: center;
    margin: auto;
    ;
}

#Huvudsida main {
    grid-area: m;
    background-color: yellow;
}

#Huvudsida #s1 {
    grid-area: s1;
    background-color: green;
}

#Huvudsida #s2 {
    grid-area: s2;
    background-color: orange;
}

#Huvudsida footer {
    grid-area: f;
    background-color: purple;
}

#Menysida #as1 {
    grid-area: as1;
    background-color: red;
}

#Menysida #as2 {
    grid-area: as2;
    background-color: orange;
}

#Menysida #s1 {
    grid-area: s1;
    background-color: red;
}

#Menysida #s2 {
    grid-area: s2;
    background-color: orange;
}

#Menysida footer {
    grid-area: f;
    background-color: blue;
}

#Recensionsida #ar1 {
    grid-area: ar1;
    background-color: blue;
}

#Recensionsida #ar2 {
    grid-area: ar2;
    background-color: orange;
}

#Recensionsida #ar3 {
    grid-area: ar3;
    background-color: blue;
}

#Recensionsida #ar4 {
    grid-area: ar4;
    background-color: orange;
}

#Recensionsida footer {
    grid-area: f;
    background-color: blue;
}