body {
    margin: 5px;
}

#Huvudsida {
    background-image: url(/img/Vitt-stenkakel-resturangsida.jpg);
    display: grid;
    height: auto;
    width: auto;
    grid-auto-columns: auto;
    grid-template-rows: auto;
    row-gap:3px ;
    column-gap:7px ;
    grid-template-areas: 
    'h h h h h h'
    'm m m m m m'
    'm m m m m m'
    's1 s1 s1 s2 s2 s2'
    's1 s1 s1 s2 s2 s2'
    'f f f f f f'
    ;
}

#Menysida {
    background-image: url(/img/wood-resturang-sida.jpg);
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 5px;
    grid-template-areas: 
    'h h h h h h h h'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as1 as1 as1 s1 s1 s1 s1 s1'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'as2 as2 as2 s2 s2 s2 s2 s2'
    'f f f f f f f f'
    ;
}

#Recensionsida {
    background-image: url(/img/field-resturang-sida.jpg);
    display: grid;
    height: 600px;
    width: auto;
    padding: 0%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 7px;
    column-gap: 7px;
    grid-template-areas: 
    'h h h h'
    'ar1 ar1 ar2 ar2'
    'ar1 ar1 ar2 ar2'
    'ar3 ar3 ar4 ar4'
    'ar3 ar3 ar4 ar4'
    'f f f f'
    ;
}

header {
    display: flex;
    grid-area: h;
    grid-template-areas: 
    'n n n'
    ;
}

nav {
    grid-area: n;
    justify-content: center;
    align-items: center;
    margin: auto;
    ;
}

#Huvudsida main {
    display: flex;
    grid-area: m;
    justify-content: center;
}

#Huvudsida #s1 {
    grid-area: s1;
    background-color: black;
}

#Huvudsida #s2 {
    grid-area: s2;
    background-color: black;
}

#Huvudsida h4 {
    color: white;
}

#Huvudsida h3 {
    color: white;
}

#Huvudsida footer {
    grid-area: f;
    background-color: black;
}

#Menysida #as1 {
    grid-area: as1;
    grid-template-areas: 
    'asart1 asart1 asart1'
    ;
}

#Menysida h1 {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

#Menysida #asart1 {
    grid-area: asart1;
    align-items: center;
    justify-content: center;
}

#Menysida #as2 {
    grid-area: as2;
    grid-template-areas: 
    'asart2 asart2 asart2'
    ;
}

#Menysida #asart2 {
    grid-area: asart2;
}

#Menysida #s1 {
    grid-area: s1;
    background-color: black;
}

#Menysida #s2 {
    grid-area: s2;
    background-color: black;
}

#Menysida footer {
    grid-area: f;
    background-color: black;
}

#Menysida li {
    color: white;
}

#Recensionsida #ar1 {
    grid-area: ar1;
}

#Recensionsida #ar2 {
    grid-area: ar2;
}

#Recensionsida #ar3 {
    grid-area: ar3;
}

#Recensionsida #ar4 {
    grid-area: ar4;
}

#Recensionsida footer {
    grid-area: f;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

#Recensionsida h5 {
    color: white;
}